<!DOCTYPE html>
<html lang="en">

<head>
  <title>VID Service Kiosk</title>
  <%- include('./partials/head.ejs') %>
  <style>
    .custom-iframe {
      width: 100%;
      height: 70vh;
    }
  </style>
</head>

<body class="position-relative" data-bs-spy="scroll">
  <nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light position-fixed w-100 fixed-top">
    <%- include('./partials/navbar.ejs') %>
  </nav>
  
  <div class="container mt-5">
    <h2>Page Visit Log</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Page</th>
          <th>Visits</th>
        </tr>
      </thead>
      <tbody id="logTableBody">
        <% for (let page in pageCounts) { %>
          <tr>
            <td><%= page %></td>
            <td><%= pageCounts[page] %></td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>

  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col">
        <iframe class="custom-iframe" src="https://cloud.timeedit.net/vid/web/sbgo/riqY85ZZZX8bB01ZwYQZjy5HmbQQ6x0jn1)uYaQYj(pQagoug6ZnZ00byYv60YmZqXQo.html" allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <%- include('./partials/scripts.ejs') %>
</body>

</html>